/* CSS del carrito JOAN */

#btnClose{
    position: absolute;
    right:4% !important;
    top: 6%;
} 
/* CSS para la cantidad de cart-show */
.qtys{
  width: 40px !important;
  border: 0px;
  border-bottom: 1px solid gray;
  text-align: center;

}
/* CSS para la cantidad de cart-alert */
#qty{
    width: 40px !important;
    border: 0px;
    border-bottom: 1px solid gray;
    text-align: center;
}
#maxquantity{
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5px;

}

/* CSS para el cambio de cantidad de cart-alert */
.changeQuantity{
    width: 50px !important;
    border: 0px solid    black !important;
    font-size: 20px !important;
}
/* CSS para el cambio de cantidad de cart-show */
.qtyChanger{
  width: 50px !important;
  border: 0px solid    black !important;
  font-size: 20px !important;

}
.priceContainer{

    font-size: 20px;
  
    text-align: left;
}
#cart-products{

    background-color: white;
    position: absolute;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 5px 20px;

    
 } 
 @media(max-width:600px){
  #imgCart{
    display:none;

  } 

 }
 /*Vista de Carrito Camilo Alzate*/
 #CarritoCompraTitulo{
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;
 }
 .buttonsMM{
    padding: 0; 
    border: none; 
    background-color: transparent;
    
 }
 #carritovacio{
    margin-top: 200px;
    margin-bottom: 20px;
    text-align: center;
 }
 .small-product img{
    width: 150%;
    border-radius: 20px;
    padding: 8px;
    margin: 5px 5px 5px;
  }
  .small-product{
    width: 120%;
    display: flex;
  }


  #CartAlert{
    padding: 20px 25px;
  }


/* CSS del carrito JOAN */

#btnGoCart{
  border-radius: 20px;
  margin-left: 20%;
}

/* CSS de cart-show */

#cartItem{

  padding: 10px;
  margin-left: 40px;
}

/* Nuevo css para dividir el resumen */


#productSection{
  display: flex ;
}

#btnSeguir{
  cursor: pointer;
  margin-left: 10%;
}
#card-header{
  background-color: white !important;
}
@media screen and (max-width:600px) {
  #svgCart{
    display: none;
  }
  
}
@media  (max-width:530px) {
  #btnGoCart{
   margin-top: 10px;
  }
  
}

@media  (max-width:512px) {
  #maxSize{
   margin-left: 12%;
  }
  
}