/* CSS del carrito JOAN */

#btnClose{
    position: absolute;
    right:4% !important;
    top: 6%;
} 
#qty{
    width: 40px !important;
    border: 0px;
    border-bottom: 1px solid gray;
    text-align: center;
}
#maxquantity{
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5px;

}
.changeQuantity{
    width: 50px;
    border: 0px solid    black;
    font-size: 20px;
}
.priceContainer{

    font-size: 20px;
  
    text-align: left;
}
#cart-products{

    background-color: white;
    position: absolute;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 5px 20px;

    
 } 
 /*Vista de Carrito Camilo Alzate*/
 #CarritoCompraTitulo{
    margin-top: 120px;
    margin-bottom: 20px;
    text-align: center;
 }
 .buttonsMM{
    padding: 0; 
    border: none; 
    background-color: transparent;
    
 }
 #carritovacio{
    margin-top: 200px;
    margin-bottom: 20px;
    text-align: center;
 }
 .small-product img{
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    margin: 5px 5px 5px;
  }
  .small-product{
    width: 30%;
    display: flex;
  }




/* CSS del carrito JOAN */