#toggleBlock {
    position: fixed;
    top: 100px;
    z-index: 3;
}

.menu-container.active {
    left: 0;
    height: 220%;
}

.main-container {
    position: relative;
    z-index: 1;
}

#toggleNone{
    display: none;
}
#toggleBlock{
    display: none;
}

@media (max-width: 767px) {
    .menu-container {
        position: fixed;
        top: 80;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 20px 10px;
        background-color: white;
        z-index: 3;
        transition: left 0.5s;
    }
    #toggleNone{
        display: block;
    }
    #toggleBlock{
        display: block;
    }
}
