@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito:ital,wght@1,600&family=Roboto:wght@400;700&display=swap');

#contenedorsection{
    margin-top: 80px;
  font-family:'Nunito',sans-serif;

  }

  #contenedorcomentarios{
    margin-top: 50px;
    border-radius: 20px;
    border-style: solid;
    padding-bottom: 20px;
    border-color: gray;
  font-family:'Nunito',sans-serif;

  }
.imageOne{
  width: 100px !important;
  height: 100px !important;
}
  .btnAddCart{
     text-decoration:none;
     background:#e70000;
     color:#ffff;
     padding: 10px 64px;
     border-radius:20px;
     transition:all .3s ease;
  border:none;
      outline:none;
       position: relative;
    overflow: hidden;
    transform: perspective(1000px) rotateX(20deg);
    transition: transform 0.3s ease-in-out;
      font-size:1.5rem;

  }
  #out-of-stock {
    position: absolute;
    top: 45%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    z-index: 1;
    width: 96%;
  }
  @media (max-width:1024px) {
    #out-of-stock {
      width: 95%;
    }
  }
  @media (max-width:280px) {
    #out-of-stock {
      width: 92%;
    }
  }
  @media (max-width:414px) {
    #out-of-stock {
      width: 95%;
    }
  }
  @media (max-width:375px) {
    #out-of-stock {
      width: 94%;
    }
  }
  .elevating-span {
  background-color: #008f39;
  border-radius: 10px;
    border: 2px;
    padding: 5px 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 10px;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: default;
    }

    .elevating-span:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra al pasar el cursor */
      transform: translateY(-5px); /* Efecto de elevación */
    }
  .btnAddCart:hover{
     color:#ffff;
     transform: perspective(1000px) rotateX(0deg) translateY(-10px);
  }




  #contenedortitulo{
    margin: 10px 0px 20px 0px;
  }




  .cantidad{
  margin-left:1px;
  }


  .card{
  border-radius: 20px;
  background-color: white;
  }

  .card img{
  border-radius: 20px;
  }
  .imgContainer img{
  border-radius: 20px;
  width: 100%;
  
  }
  .imgContainer{
    position: relative;
    padding: 10px;
    width: 100%;
  }
  .small-product img{
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    margin: 10px 10px 15px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: transform 0.2s, border 0.2s;

  }
  .small-product img:hover{
      border: 2px solid #e70000;
      transform: translateY(-5px);
  }
  .small-product img.selected{
      border: 2px solid #e70000;

  }
  .small-product{
    width: 20%;
    display: flex;
  }
  .my-badge{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    font-size: 15px;
  }

  .buttonsMM{
    padding: 0;
    border: none;
    background-color: transparent;

  }

  /*--------------
  Estrellas comentarios
  --------------*/
  .star_rating{
    user-select: none;
  }
  .star{
    font-size: 2rem;
    color: #ff9800;
    background-color: unset;
    border: none;
  }
  .star:hover{
    cursor: pointer;
    color: #ff9800;
  }



/* CSS para comentarios */
.inactive {
  display: none;
}

.card-header {
  display: flex;
  justify-content: space-between;
}
.my-2{
  margin-right: 5px !important; 
}
.btn-link{ 
  color: #ec5353;
}
.btn-link:hover{
  color: red !important;
}